.posrel {
    border: solid green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);    
}

.negrel {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.norel {
    border: solid transparent;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;   
}

.hidden {
    display: none;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu_active {
    display: block;
    background-color: rgba(255,255,255,0.4);
    border: solid 1px;
}

.context-menu_item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.unbound_circle {
    stroke: black;
    fill: gray;
    fill-opacity: 0.1;
    stroke-dasharray: 5;
}

.selected_circle {
    fill-opacity: 0.5;
    stroke: blue;
    stroke-width: 2;
}

.noedge {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 1;
}

.posedge {
    stroke: green;
    stroke-width: 2;
}

.negedge {
    stroke:red;
    stroke-width: 2;
}

.tName {
    fill:black;
    opacity: 1;
    font-weight: bold;
    text-anchor: middle;
}

.vegfilter {
    height: auto;
    width: 100%;
}

.vegfilter input {
    margin-right: 0.5em;
}

.vegfilter li {
    list-style: none;
}

.vegfilter label {
    margin-bottom: 0.1em;
}
