html {
	height: 100%;
}

body {
	height: 100%;
}

.posrel {
    border: solid green;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);    
}

.negrel {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.norel {
    border: solid transparent;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;   
}

.hidden {
    display: none;
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
}

.context-menu_active {
    display: block;
    background-color: rgba(255,255,255,0.8);
    color: rgba(255,255,255, 0.8);
    border: solid 1px;
}

.context-menu_items {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.context-menu_item {
    color: rgba(14, 2, 2, 0.8);
}

.unbound_circle {
    fill: gray;
    fill-opacity: 0.1;
    stroke-dasharray: 5;
}

.selected_circle {
    fill-opacity: 0.5;
    stroke: blue;
    stroke-width: 2;
}

.pos {
    color: green;
}

.neg {
    color: red;
}

.noedge {
    stroke: black;
    stroke-width: 1;
    stroke-dasharray: 1;
}

.posedge {
    stroke: green;
    stroke-width: 2;
}

.negedge {
    stroke:red;
    stroke-width: 2;
}

.tName {
    fill:black;
    opacity: 1;
    pointer-events: none;
	overflow: hidden;
	text-align: center;
}

.vegfilter {
    height: auto;
    width: 100%;
}

.vegfilter input {
    margin-right: 0.5em;
}

.vegfilter li {
    list-style: none;
}

.vegfilter label {
    margin-bottom: 0.1em;
}


.blur{
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -250px;
    border-radius: 8px;
  }

  .blur:before{
    position: absolute;
    top: -25px;
    left: -25px;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
    filter: blur(20px);
  }